body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.content {
    margin: 20px;
    text-align: center;
}

.content .logo {
    font-size: 36px;
    color: blue;
}

#btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

#btns #btn1 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn2 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn3 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn4 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn5 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn6 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn7 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn8 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn9 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn10 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn11 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn12 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}
#btns #btn13 {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}

#btns input {
    margin-left: 5px;
}

#msg {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#bould {
    width: 70%;
    height: 200px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #b2fef7;
    font-family: 'Courier New', Courier, monospace;
}
